<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_tracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid_tracker"
        android:name=".NotificationGenerate">

        <activity
            android:name=".PlanAndShedVaccs"
            android:exported="true" />
        <activity
            android:name=".UppcommingApointments"
            android:exported="true" />
        <activity
            android:name=".AdminDashboard"
            android:exported="true" />
        <activity
            android:name=".Dashboard"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity

            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".Administartorlogin"
            android:exported="true" />
        <activity
            android:name=".Regristering"
            android:exported="true" />
        <activity
            android:name=".StatisticsVacc"
            android:exported="true" />
        <activity
            android:name=".StatisticsCovid"
            android:exported="true" />
    </application>

</manifest>